@page
@model MountainBikeTrailHeads.Pages.Trailheads.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Trailhead</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Trailhead.Name" class="control-label"></label>
                <input asp-for="Trailhead.Name" class="form-control" />
                <span asp-validation-for="Trailhead.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trailhead.Rating" class="control-label"></label>
                <input asp-for="Trailhead.Rating" class="form-control" />
                <span asp-validation-for="Trailhead.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trailhead.Description" class="control-label"></label>
                <input asp-for="Trailhead.Description" class="form-control" />
                <span asp-validation-for="Trailhead.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trailhead.TrailCount" class="control-label"></label>
                <input asp-for="Trailhead.TrailCount" class="form-control" />
                <span asp-validation-for="Trailhead.TrailCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trailhead.TotalDistance" class="control-label"></label>
                <input asp-for="Trailhead.TotalDistance" class="form-control" />
                <span asp-validation-for="Trailhead.TotalDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trailhead.TotalDescent" class="control-label"></label>
                <input asp-for="Trailhead.TotalDescent" class="form-control" />
                <span asp-validation-for="Trailhead.TotalDescent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trailhead.CityNear" class="control-label"></label>
                <input asp-for="Trailhead.CityNear" class="form-control" />
                <span asp-validation-for="Trailhead.CityNear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trailhead.Latitude" class="control-label"></label>
                <input asp-for="Trailhead.Latitude" class="form-control" />
                <span asp-validation-for="Trailhead.Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trailhead.Longitude" class="control-label"></label>
                <input asp-for="Trailhead.Longitude" class="form-control" />
                <span asp-validation-for="Trailhead.Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
