@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The Mountain Bike Trail Systems application stores trail system information, along with displaying a web map that displays the location of the trailhead.</p>
</div>
